<h1> reflection</h1>

<div class="new-post">

  <form action="{{this.id}}?_method=PUT" method="POST">
    <p class="input-field">
      <textarea name='text' rows="5" cols="75" >{{content}}</textarea>
    </p>
    <input type="submit" value="Save" class="button" />
  </form>

  <form action='{{this.id}}?_method=DELETE' method='POST'>
    <input type="submit" value="Delete" class="button" />
  </form>

  <form action="/reflection/show" method="GET">
    <input type="submit" value="Back" class="button"/>
  </form>

</div>