<section class="form-container">
  <h4 style = "color: gray">breathe</h4>
  <form action="/reflection" method="post" class="reflection-form">
    <div class="input-field">
      <textarea name= "reflection[content]" cols="40" rows="20"   
      placeholder="This feature is currently disabled but will be running soon. 
For now, take time to pause and practice patience in this moment. If possible, get outside and reflect in nature instead."></textarea>
    </div>
    
    <div class="">
      <select name="author" id="author">
        <option value="" disabled selected>Choose the User</option>
        {{#each users}}
          <option value="{{id}}">{{email}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-field">
      <input type="submit" value="+" class="btn" style = "background-color: gray">
    </div>
  </form>
</section>

