<h1>breathe</h1>
 
<div class="new-item">

  <form action="/reflection/show" method="POST">
    <p class="input-field">
      <textarea name='text' rows="4" cols="50" placeholder="take time to pause and reflect..."></textarea>
    </p>
    <input type="submit" value="Add It" class="button"/>
  </form>

  <form action="/reflection/show" method="GET">
    <input type="submit" value="Back" class="button" />
  </form>

</div>