{{!-- <p class="card">
  {{> 'reflection'}}
</p> --}}
<p>hello</p>
 {{ author}} 

{{#if reflection}}
    <div class="reflections"> 
      {{#each user.reflections}}
     
      {{/each}}
    </div>
  {{else}}
    <p>no reflections posted yet</p>
  {{/if}}

{{!-- {{#if reflections.length}}
  {{#each reflections}}

          {{ content }}
    
      </div>
    </div>
  {{/each}}
{{/if}}

 --}}

<p> helloooo </p>
<form action="/reflection/new" method="GET">
    <input type="submit" style =  "color: white" value="add to your collection of guided meditations" class="button"/>
  </form>

