

<h1> meditation timer </h1>
<a href="https://insighttimer.com/" >"https://insighttimer.com/"</a>
   <div class='contain-timer'>
        <h1 id=timer><time>00:00:00</time></h1>
        <button id="start">start</button>
        <button id="stop">stop</button>
        <button id="clear">clear</button>
    </div>

 {{!-- <script src="/script.js"></script> --}}

{{!-- https://git.generalassemb.ly/mdfortino/js-countdown-timer --}}