

<div class='reflection'>

  {{!-- <form action="/user/show" method="GET">
    <input type="submit" value="Back" class="button"/>
  </form> --}}

  <form action="/reflection/new" method="GET">
    <input type="submit" value="new reflection" class="button"/>
  </form>

</div>

<section class="profile">
  {{#if reflections}}
    <ul class="items">
      {{#each reflections}}
        <li>
        <a class="card-title" href="/reflection/{{id}}"></a>
         {{content}}

          {{!-- <a href='edit/{{id}}' method="get" class='update'>edit</a> --}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    {{!-- <h3>no reflections yet</h3> --}}
  {{/if}}
</section>
