<h1>your reflections</h1>

<div class='controls'>

  {{!-- <form action="/user/show" method="GET">
    <input type="submit" value="Back" class="button"/>
  </form> --}}

  <form action="/reflection/new" method="GET">
    <input type="submit" value="New reflection" class="button"/>
  </form>

</div>

<section class="profile">
  {{#if reflections}}
    <ul class="items">
      {{#each reflections}}
        <li>
         {{this.content}}

          <a href='edit/{{id}}' method="get" class='update'>Edit</a>

        </li>
      {{/each}}
    </ul>
  {{else}}
    {{!-- <h3>no reflections yet</h3> --}}
  {{/if}}
</section>
