<h1> meditation timer </h1>

<div id="chronoExample">
    <div class="values">00:00:00</div>
    <div>
        <button class="startButton">Start</button>
        <button class="pauseButton" >Pause</button>
        <button class="stopButton">Stop</button>
        <button class="resetButton">Reset</button>
    </div>
</div>

{{!-- https://git.generalassemb.ly/mdfortino/js-countdown-timer --}}