{{#if reflections}}
    <div class="reflections"> 
      {{#each reflections}}
     <p> {{content}} </p>
      {{/each}}
    </div>
  {{else}}
    <p>no meditations posted yet</p>
  {{/if}}


<form action="/reflection/new" method="GET">
    <input type="submit" style =  "color: white" value="add to your collection of guided meditations" class="button"/>
  </form>

