<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BREATHER</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src = "/script.js"> </script>

     {{!-- <link rel="stylesheet" type="text/css" media="screen" href="/styles.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> --}}

    {{!-- <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> --}}
    {{!-- <link rel="stylesheet" href="/css/styles.css"> --}}
    {{!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> --}}
  </head>
  <body>
    <header class="site-header">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo left">BREATHER</a>
          {{!-- <img src = "../img/zen-brush-symbol.png" --}}
          <ul class="right">
          {{#if currentUser}}
          <div class="pagination">
            <li><a style = "color: white" href="/intention/new">+intention</a></li>
            <li><a style = "color: white" href = "/reflection/show"> +meditation </a></li>
            <li><a style = "color: white" href="/user/{{currentUser.id}}">profile</a></li>
            <li><a style = "color: white" href="/user/logout">log out</a></li>
          {{else}}
            <li><a href="/user/login">login</a></li>
            <li><a href="/user/sign-up">join</a></li>
          {{/if}}
          </ul>
        </div>
        </div>
      </nav>
    </header>
    <main class="container">
      {{{ body }}}
    </main>
   <script src="../public/js/script.js"></script>
  </body>
</html>
