{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}


<section class="row">
  {{!-- <h4>log in:</h4> --}}

  <form action="" method="POST" class="auth-form">
    <p class="input-field">
      <input type="email" name="email" placeholder="Email">
    </p>
    {{!-- <p class="input-field">
      <input type="text" name="username" placeholder="Username">
    </p> --}}
    <p class="input-field">
      <input type="password" name="password" placeholder="Password">
    </p>
  <p id = "login" class="input-field">
      <input type="submit" value="login" class="btn" style = "background-color: gray">
    </p>
    
  </form>
</section>
