<section class="profile">
  <h2>{{user.email}}</h2>
  {{#if user.awarenessPosts}}
    <div class="awareness">
      {{#each user.awarenessPosts}}
         {{> 'awarness'}}
      {{/each}}
    </div>
  {{else}}
    <p>No posts yet</p>
  {{/if}}
</section>
