
 {{!-- <!DOCTYPE html>
<html>
  <head lang="en">
  <meta charset="UTF-8"> 
  <script language="JavaScript">
    function showInput() {
        document.getElementById('display').innerHTML = 
                    document.getElementById("user_input").value;
    }
  </script> --}}
  
<header> 
  

  <h1 style= "color: gray"> profile </h1>

  </header>
  <p> username/e-mail address : {{user.email}}</p>



<body>

  {{!-- <form>
    <label><b>What is your personal mantra?</b></label>
    <input type="text" name="message" id="user_input">
  </form>

  <input type="submit" onclick="showInput();"><br/>
  <label> 
    <h1>my mantra</h1>
  </label>
  <p><span id='display'></span></p>
</body> --}}

  <h1 style = "color: gray"> my daily intentions </h1> 
  {{#if user.intentions}}
    <div class="intentions"> 
      {{#each user.intentions}}
         {{> 'intention'}}
      {{/each}}
    </div>
  {{else}}
    <p>no intentions posted yet</p>
  {{/if}}
{{#if author.username}}
    <div class="username">
      {{#each user.username}}
         {{> 'username'}}
      {{/each}}
    </div>
  {{else}}
    <p></p>
  {{/if}}
