<section class="row">
  {{!-- <h4>sign up:</h4> --}}

  {{#if message}}
    <p class="alert">{{message}}</p>
  {{/if}}
  
  <form action="" method="POST" class="auth-form">
    <p class="input-field">
      <input type="email" name="email" placeholder="Email">
    </p>
     {{!-- <p class="input-field">
      <input type="text" name="username" placeholder="Username">
    </p> --}}
    <p class="input-field">
      <input type="password" name="password" placeholder="Password">
    </p>
     {{!-- <p class="input-field">
      <input type="text" name="mantra" placeholder="Motto/Mantra">
    </p> --}}
    <p class="input-field">
      <input type="submit" value="join" class=" btn-large color-gray">
    </p>
  </form>
</section>
