<section class="form-container">
  <h4>Be Aware</h4>
  <form action="/awareness" method="post" class="awareness-form">
    <div class="input-field">
      <textarea name="awareness[content]" cols="30" rows="10" placeholder="Message"></textarea>
    </div>
    <div class="">
      <select name="author" id="author">
        <option value="" disabled selected>Choose the User</option>
        {{#each users}}
          <option value="{{id}}">{{email}}</option>
        {{/each}}
      </select>
    </div>
    <div class="input-field">
      <input type="submit" value="Awareness" class="btn">
    </div>
  </form>
</section>